

<!DOCTYPE html>
<html>
<head>
    <title>Print Barang Keluar</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .print-area {
            width: 80mm; /* contoh ukuran kertas kecil */
        }

        img {
            width: 100px;
        }
    </style>
</head>
<body onload="window.print()">
    <div class="print-area">
        <h2>Transaksi Barang Keluar</h2>
        <p>Kode Barang: {{ transaksi.item.kode_barang }}</p>
        <p>Nama Barang: {{ transaksi.item.nama_barang }}</p>
        <p>Jumlah: {{ transaksi.qty }}</p>
        <p>Status : {{ transaksi.status_barang   }}</p>

        <p>Tanggal: {{ transaksi.tanggal }}</p>

        <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
    </div>
</body>
</html>
